// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/* Per il div che contiene l'immagine di sfondo */
.home-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: auto;
    background-image: url(https://www.visitscotland.com/binaries/content/gallery/visitscotland/cms-images/2022/12/01/exclusiveuse.jpg);
    background-color: rgba(0, 0, 0, 0.7); /* Colore nero con opacità al 70% */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.home-background-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    background-image: url(https://www.visitscotland.com/binaries/content/gallery/visitscotland/cms-images/2022/12/01/exclusiveuse.jpg);
    background-color: rgba(0, 0, 0, 0.7); /* Colore nero con opacità al 70% */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}



/* Per il contenitore che isola la search bar */
.container-searchsection {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Posizionamento della search bar */
.navbar-custom {
    position: absolute;
    top: 100%; /* Posiziona la barra tra il div con background e i filtri */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Mantieni la larghezza al 80% */
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo della barra */
    border-radius: 2rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Ombra della barra di ricerca */
}

/* foto profilo */
.searchbar {
    width: 100%; /* Occupa il 100% della larghezza */
    border-radius: 2rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Ombra leggera */
}


.mt-3 {
    margin-top: 5rem;
    padding-top: 2rem;
}

.w-100 {
    width: 100%;
}

.dropdown-menu {
    max-width: 100%;
}

.input-group .form-control {
    width: 50%;
}

.my-text-cap {
    text-transform: capitalize;
}

/* Stile per la lightbox */
.lightbox {
    display: none; /* Nascondi di default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.logo-bnb{
    width: 175px;
    height: auto;
}
.general_background{
    background-color: #F6CACC;
    width: 100vw;
}
.container-webapp{
    width: 100vw;
    height: 100vh;
}

.color-header-card{
    background-color: #E66063;
    color: white;
}

.color-background-card{
    background-color: #F1A7A9;
}

.background-color-minicard{
    background-color: #F6CACC;
    color: #9C191B;
}
.button-color{
    background-color: #9C191B;
    color: white;
}
.custom-btn{
    background-color: #AC1C1E;
}
.color-title-card{
    color:#9C191B ;
}
#profile-photo-container {
    position: relative;
    width: 150px; /* dimensione del contenitore */
    height: 150px;
    border-radius: 50%;
    background-color: #F6CACC;
    overflow: hidden;
    border: 5px solid #AC1C1E; /* bordo dell'immagine */
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* rende l'immagine rotonda */
}

#change-photo-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgba(0, 0, 0,0.2);
    display: none;
    cursor: pointer;
}

#profile-photo-container:hover #change-photo-btn {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 10px;
}

#profile-photo-container:hover #profile-photo {
    opacity: 0.7;
}

#photo-form {
    margin-top: 10px;
}

.header-table{
   th{
    background-color:#E66063  !important;
    color: white;
   }
}
.body-table{
    td{
        background-color:#F6CACC ;
        align-items: center;
        justify-content: center;
        color: #9C191B;
    }
}
.header-card-table{
    background-color: #BD1F21;
    color: #F6CACC;
}
.tbody-color{
    color: #9C191B;
    align-items: center;
    justify-content: center;
}
.message-body{
    color: #9C191B;
}

.card-show-ap{
    background-color: #F1A7A9;
    color: #9C191B;
}
.color-services{
    color:#9C191B ;
    border-color: #9C191B;
}
.background-create-edit{
    background-color: #F6CACC;
}
.btn-check:checked + .color-services {
    background-color: #9C191B !important;  /* Sfondo bordeaux */
    color: white !important;  /* Testo bianco */
    border-color: #9C191B !important; /* Colore bordo bordeaux */
}

h1 {
    text-shadow: 1px 1px 2px rgba(246, 202, 204, 0.7), /* Ombra più chiara (rosa) */
                 3px 3px 5px rgba(156, 25, 27, 0.5); /* Rosso scuro */
}

